# dependencies
node_modules

# builds
dist
build
.next
out

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# env files
.env
.env.local
.env.*.local

# editor
.vscode
.idea
.DS_Store

# testing
coverage
playwright-report
test-results

# turbo / monorepo
.turbo

# prisma
prisma/dev.db

# docker
*.pid

# misc
.tmp
.cache